<!DOCTYPE html> 
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <link href= "{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="tabs">
        <button class="tab-button" data-tab="tab1">電気 CH1</button>
        <button class="tab-button" data-tab="tab2">電気 CH2</button>
        <button class="tab-button" data-tab="tab3">エアコン</button>
        <button class="tab-button" data-tab="tab4">温度・湿度</button>
    </div>

    <div class="tab-content" id="tab1">
        <div>Channel 1</div>
        <button class="denki denki-on" id="ch1_on">電気ON</button>
        <button class="denki denki-off" id="ch1_off">電気OFF</button>
        <button class="denki denki-mini" id="ch1_mini">常夜灯</button>
    </div>
    <div class="tab-content" id="tab2">
        <div>Channel 2</div>
        <button class="denki denki-on" id="ch2_on">電気ON</button>
        <button class="denki denki-off" id="ch2_off">電気OFF</button>
        <button class="denki denki-mini" id="ch2_mini">常夜灯</button>
    </div>
    <div class="tab-content" id="tab3">
        <div>air conditioner controller</div>
        <div><p>state: <b id="state">{{ state }}</b></p></div>
        <div class="sep-rl">
            <div class="temp-ctl">
                <div>温度設定 [℃]</div>
                <p id="reibo-temp" class="{{ 'hidden' if not initial_data.reibo_on else '' }}">{{ initial_data.reibo_temp }}</p>
                <p id="danbo-temp" class="{{ 'hidden' if not initial_data.danbo_on else '' }}">{{ initial_data.danbo_temp }}</p>
                <p id="kaiteki-temp" class="{{ 'hidden' if not initial_data.kaiteki_on else '' }}">{{ initial_data.kaiteki_temp }}</p>
            </div>
            <div class="hum-ctl">
                <div>湿度設定 [%]</div>
                <p id="reibo-hum" class="{{ 'hidden' if not initial_data.joshitsu_on else '' }}">{{ initial_data.reibo_hum }}</p>
                <p id="danbo-hum" class="{{ 'hidden' if not initial_data.kashitsu_on else '' }}">{{ initial_data.danbo_hum }}</p>
            </div>
        </div>
        <div class="kaiteki-and-teishi-ctl">
            <button id="kaiteki" class="{{ 'active-btn' if initial_data.kaiteki_on else '' }}">快適自動</button>
            <button id="teishi" class="{{ 'active-btn' if initial_data.off else '' }}">停止</button>
        </div>
        <div class="sep-rl">
            <div class="temp-ctl">
                <button id="reibo" class="{{ 'active-btn' if initial_data.reibo_on else '' }}">冷房</button>
                <button id="danbo" class="{{ 'active-btn' if initial_data.danbo_on else '' }}">暖房</button>
            </div>
            <div class="hum-ctl">
                <button id="joshitsu" class="{{ 'active-btn' if initial_data.joshitsu_on else '' }}">除湿</button>
                <button id="kashitsu" class="{{ 'active-btn' if initial_data.kashitsu_on else '' }}">加湿</button>
            </div>
        </div>
        <div class="sep-rl">
            <div class="temp-ctl">
                <div>温度</div>
                <button class="temp">up</button>
                <button class="temp">down</button>
            </div>
            <div class="hum-ctl">
                <div>湿度</div>
                <button class="hum">up</button>
                <button class="hum">down</button>
            </div>
        </div>
    </div>
    <div class="tab-content" id="tab4">タブ4の内容</div>

    <script src="{{ url_for('static', path='/script.js') }}"></script>
</body>
</html>
